<div class="row">
    <div class="col">
        <h1>*ngIf</h1>
        <hr>
        <div class="card text-dark bg-info mb-3" style="width: 100%;">
            <div class="card-body">
                <h5 class="card-title">Info card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>

        <button type="button" class="btn btn-primary btn-block">
            Mostrar u Ocultar
        </button>

    </div>

    <div class="col">
        <h1>*ngFor</h1>
        <hr>

        <ul class="list-group" style="margin-bottom: 1rem!important;">
            <li class=" list-group-item">Cras justo odio</li>
            <li class=" list-group-item">Cras justo odio</li>
            <li class=" list-group-item">Cras justo odio</li>
        </ul>


        <button type="button" class="btn btn-primary btn-block">
            Crear Elemento
        </button>
    </div>
</div>