<h1 class="mt-3">Pipes <small>Angular</small></h1>
<hr>

<div class="row">
    <div class="col">

        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <td>Variable</td>
                    <td>Pipe</td>
                    <td>Salida</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{nombre}}</td>
                    <td>uppercase</td>
                    <td>{{nombre | uppercase}}</td>
                </tr>
                <tr>
                    <td>{{nombre}}</td>
                    <td>lowercase</td>
                    <td>{{nombre | lowercase}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>